In [3]:
import pandas as pd
data = {'Name':['A', 'B', 'C', 'D'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

  Name  Age
0    A   28
1    B   34
2    C   29
3    D   42

In [1]:
import pandas as pd
df2 = pd.DataFrame()
print(df2)

Empty DataFrame
Columns: []
Index: []

In [4]:
import pandas as pd

data = [{'ID': 1, 'Name': 'Alice', 'Age': 25},
                      {'ID': 2, 'Name': 'Bob', 'Age': 30},
                      {'ID': 3, 'Name': 'Charlie', 'Age': 22}]
df = pd.DataFrame(data)
print(df)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22

In [5]:
import pandas as pd

data = {'ID': [1, 2, 3],'Name': ['Alice', 'Bob', 'Charlie'],'Age': [25, 30, 22]}
df = pd.DataFrame(data)
print(df)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22

In [6]:
import pandas as pd

id_series = pd.Series([1, 2, 3])
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 22])
df = pd.DataFrame({'ID': id_series, 'Name': name_series, 'Age': age_series})
print(df)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22